
  <section>
    <ul ng-show="showStylePicker" class="style-picker">
      <li ng-click="pickStyle('Acid')" class="style-picker__option">Acid</li>
      <li ng-click="pickStyle('Acid House')" class="style-picker__option">Acid House</li>
      <li ng-click="pickStyle('Acid Jazz')" class="style-picker__option">Acid Jazz</li>
      <li ng-click="pickStyle('Ambient')" class="style-picker__option">Ambient</li>
      <li ng-click="pickStyle('Big Beat')" class="style-picker__option">Big Beat</li>
      <li ng-click="pickStyle('Breakbeat')" class="style-picker__option">Breakbeat</li>
      <li ng-click="pickStyle('Breakcore')" class="style-picker__option">Breakcore</li>
      <li ng-click="pickStyle('Breaks')" class="style-picker__option">Breaks</li>
      <li ng-click="pickStyle('Broken Beat')" class="style-picker__option">Broken Beat</li>
      <li ng-click="pickStyle('Chiptune')" class="style-picker__option">Chiptune</li>
      <li ng-click="pickStyle('Dark Ambient')" class="style-picker__option">Dark Ambient</li>
      <li ng-click="pickStyle('Darkwave')" class="style-picker__option">Darkwave</li>
      <li ng-click="pickStyle('Deep House')" class="style-picker__option">Deep House</li>
      <li ng-click="pickStyle('Disco')" class="style-picker__option">Disco</li>
      <li ng-click="pickStyle('Downtempo')" class="style-picker__option">Downtempo</li>
      <li ng-click="pickStyle('Drone')" class="style-picker__option">Drone</li>
      <li ng-click="pickStyle('Drum N Bass')" class="style-picker__option">Drum N Bass</li>
      <li ng-click="pickStyle('Dub')" class="style-picker__option">Dub</li>
      <li ng-click="pickStyle('Dub Techno')" class="style-picker__option">Dub Techno</li>
      <li ng-click="pickStyle('Dubstep')" class="style-picker__option">Dubstep</li>
      <li ng-click="pickStyle('EBM')" class="style-picker__option">EBM</li>
      <li ng-click="pickStyle('Electro')" class="style-picker__option">Electro</li>
      <li ng-click="pickStyle('Euro House')" class="style-picker__option">Euro House</li>
      <li ng-click="pickStyle('Experimental')" class="style-picker__option">Experimental</li>
      <li ng-click="pickStyle('Freestyle')" class="style-picker__option">Freestyle</li>
      <li ng-click="pickStyle('Future Jazz')" class="style-picker__option">Future Jazz</li>
      <li ng-click="pickStyle('Gabber')" class="style-picker__option">Gabber</li>
      <li ng-click="pickStyle('Garage House')" class="style-picker__option">Garage House</li>
      <li ng-click="pickStyle('Ghetto')" class="style-picker__option">Ghetto</li>
      <li ng-click="pickStyle('Glitch')" class="style-picker__option">Glitch</li>
      <li ng-click="pickStyle('Goa Trance')" class="style-picker__option">Goa Trance</li>
      <li ng-click="pickStyle('Grime')" class="style-picker__option">Grime</li>
      <li ng-click="pickStyle('Happy Hardcore')" class="style-picker__option">Happy Hardcore</li>
      <li ng-click="pickStyle('Hard House')" class="style-picker__option">Hard House</li>
      <li ng-click="pickStyle('Hard Trance')" class="style-picker__option">Hard Trance</li>
      <li ng-click="pickStyle('Hardcore')" class="style-picker__option">Hardcore</li>
      <li ng-click="pickStyle('Hardstyle')" class="style-picker__option">Hardstyle</li>
      <li ng-click="pickStyle('Hi NRG')" class="style-picker__option">Hi NRG</li>
      <li ng-click="pickStyle('Hip Hop')" class="style-picker__option">Hip Hop</li>
      <li ng-click="pickStyle('Hip House')" class="style-picker__option">Hip House</li>
      <li ng-click="pickStyle('House')" class="style-picker__option">House</li>
      <li ng-click="pickStyle('IDM')" class="style-picker__option">IDM</li>
      <li ng-click="pickStyle('Illbient')" class="style-picker__option">Illbient</li>
      <li ng-click="pickStyle('Industrial')" class="style-picker__option">Industrial</li>
      <li ng-click="pickStyle('Italo-Disco')" class="style-picker__option">Italo-Disco</li>
      <li ng-click="pickStyle('Italodance')" class="style-picker__option">Italodance</li>
      <li ng-click="pickStyle('Jazzdance')" class="style-picker__option">Jazzdance</li>
      <li ng-click="pickStyle('Jumpstyle')" class="style-picker__option">Jumpstyle</li>
      <li ng-click="pickStyle('Jungle')" class="style-picker__option">Jungle</li>
      <li ng-click="pickStyle('Krautrock')" class="style-picker__option">Krautrock</li>
      <li ng-click="pickStyle('Latin')" class="style-picker__option">Latin</li>
      <li ng-click="pickStyle('Leftfield')" class="style-picker__option">Leftfield</li>
      <li ng-click="pickStyle('Makina')" class="style-picker__option">Makina</li>
      <li ng-click="pickStyle('Minimal')" class="style-picker__option">Minimal</li>
      <li ng-click="pickStyle('Modern Classical')" class="style-picker__option">Modern Classical</li>
      <li ng-click="pickStyle('Musique Concrète')" class="style-picker__option">Musique Concrète</li>
      <li ng-click="pickStyle('Neo Folk')" class="style-picker__option">Neo Folk</li>
      <li ng-click="pickStyle('New Age')" class="style-picker__option">New Age</li>
      <li ng-click="pickStyle('New Beat')" class="style-picker__option">New Beat</li>
      <li ng-click="pickStyle('New Wave')" class="style-picker__option">New Wave</li>
      <li ng-click="pickStyle('Noise')" class="style-picker__option">Noise</li>
      <li ng-click="pickStyle('Power Electronics')" class="style-picker__option">Power Electronics</li>
      <li ng-click="pickStyle('Progressive House')" class="style-picker__option">Progressive House</li>
      <li ng-click="pickStyle('Progressive Trance')" class="style-picker__option">Progressive Trance</li>
      <li ng-click="pickStyle('Psy-Trance')" class="style-picker__option">Psy-Trance</li>
      <li ng-click="pickStyle('Rhythmic Noise')" class="style-picker__option">Rhythmic Noise</li>
      <li ng-click="pickStyle('Speed Garage')" class="style-picker__option">Speed Garage</li>
      <li ng-click="pickStyle('Speedcore')" class="style-picker__option">Speedcore</li>
      <li ng-click="pickStyle('Synth-pop')" class="style-picker__option">Synth-pop</li>
      <li ng-click="pickStyle('Tech House')" class="style-picker__option">Tech House</li>
      <li ng-click="pickStyle('Techno')" class="style-picker__option">Techno</li>
      <li ng-click="pickStyle('Trance')" class="style-picker__option">Trance</li>
      <li ng-click="pickStyle('Tribal')" class="style-picker__option">Tribal</li>
      <li ng-click="pickStyle('Tribal House')" class="style-picker__option">Tribal House</li>
      <li ng-click="pickStyle('Trip Hop')" class="style-picker__option">Trip Hop</li>
      <li ng-click="pickStyle('UK Garage')" class="style-picker__option">UK Garage</li>
    </ul>
  </section>

<div class="container island">
  <div class="grid ingress">
    <div class="grid__item one-whole text--center">
      <h1 class="ribbon fancy">yudi </h1><span ng-click="signIn()">Sign in</span>
      <h2 class="fancy">A youtube [<span ng-click="showStylePicker = true" class="style-picker-trigger">{{style}}</span>] Discogs randomiser</h2>
    </div>
  </div>
  <div class="grid video">
    <div class="grid__item one-whole text--center">
      <div class="responsive-embed islet">
        <iframe class="responsive-embed__iframe" width="420" height="315" ng-src="{{embed.path}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="grid__item one-whole text--center text--center">
      <h2 class="fancy">{{embed.title}}</h2>
      <button ng-click="next.play()" class="btn btn--large">{{next.label}}</button>
    </div>
  </div>

</div>
